.way {
	font-family: 'Black Ops One';
	position: relative;
	margin: 0 auto;
	height: 100%;
	padding: 75px;
	overflow: hidden;
}

.trail {
	pointer-events: none;
}

.marik {
	display: inline-block;
	margin-bottom: -20px;
	cursor: pointer;
	object-fit: contain;
	line-height: 1;
}

.trail {
	opacity: 0;
}

.trail-3:hover+.off {
	transform: rotate(180deg);
	opacity: 0;
	transition: all 0.3s linear;
}

.trail-4:hover+.off {
	transform: rotate(90deg);
	opacity: 0;
	transition: all 0.3s linear;
}

.trail-5:hover+.off {
	transform: rotate(270deg);
	opacity: 0;
	transition: all 0.3s linear;
}

.marik-f {
	position: absolute;
	top: 10%;
	right: 10%;
	max-width: 300px;
	width: 100%;
	object-fit: contain;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	transition: all 0.3s linear;
}

.trail-8:hover+.marik-f {
	top: 20%;
	opacity: 1;
	visibility: visible;
	z-index: 90;
}

#blink {
	-webkit-animation: blink 2s linear infinite;
	animation: blink 2s linear infinite;
}

@keyframes blink {
	50% {
		color: rgb(224, 139, 28);
	}

	100% {
		color: rgba(0, 0, 0, 0.651);
	}
}

.figure {
	position: absolute;
	top: 50px;
	right: 10px;
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	opacity: 0;
	transition: all 1s;
	z-index: -1;
	visibility: hidden;
}

.figure-active {
	opacity: 1;
	transition: all 1s;
	z-index: 0;
	visibility: visible;
}

.buttons {
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 18px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	color: rgb(170, 161, 161);
	background-color: #D4E4ED;
	margin: 0 auto;
	padding: 10px 19px;
}

.button-c {
	right: 135px;
}

.buttons.on {
	color: coral;
}

.buttons-m {
	right: auto;
	left: 25px;
}

.buttons:hover {
	color: coral;
}

@keyframes blink {
	50% {
		color: rgb(224, 139, 28);
	}

	100% {
		color: rgba(0, 0, 0, 0.651);
	}
}

.box-mario svg {
	width: 50px;
	transform: rotate(45deg);
	position: absolute;
	top: -10px;
	left: 210px;
	display: none;
}

.box-mario svg {
	animation: 3s linear 3s normal none infinite running rot;
	-webkit-animation: 1s linear 1s normal infinite none running rot;
	animation-timing-function: linear;
}

@keyframes rot {
	0% {
		transform: translateY(10px) rotate(360deg);
	}

	50% {
		transform: translateY(0px) rotate(45deg);
	}

	100% {
		transform: translateY(10px) rotate(0deg);
	}
}

.marik {
	animation: 3s linear 3s normal none infinite running marik;
	-webkit-animation: 3s linear 3s normal infinite none running marik;
	animation-timing-function: linear;
}

@keyframes marik {
	0% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(20deg);
	}
}

.marik:hover~.trail-1 {
	opacity: 1;
	pointer-events: auto;
	box-shadow: 5px 5px 5px green, -5px -5px 5px green;
	border-radius: 20%;
}

.off {
	opacity: 0;
	transition: all 0.3s linear;
}


.off.off-3 {
	opacity: 1;
	transition: all 0.3s linear;
}

.off.off-2.off-3 {
	opacity: 0;
}

.pos-absolute {
	position: absolute;
	top: 0;
	left: 100px;
	object-fit: contain;
	width: 70px;
	height: 70px;
	z-index: 90;
}

.pos-absolute {
	animation: 5s linear 5s normal none infinite running pos-absolute;
	-webkit-animation: 5s linear 5s normal infinite none running pos-absolute;
	animation-timing-function: linear;
}

@keyframes pos-absolute {
	0% {
		transform: translate(50px, 50px);
	}

	25% {
		transform: translate(250px, 250px);
	}

	75% {
		transform: translate(350px, 350px);
	}

	100% {
		transform: translate(50px, 50px);
	}
}

.pos-absolute-2 {
	position: absolute;
	top: 0;
	left: 50%;
	object-fit: contain;
	width: 70px;
	height: 70px;
	z-index: 90;
}

.pos-absolute-2 {
	animation: 3s linear 3s normal none infinite running pos-absolute-2;
	-webkit-animation: 3s linear 3s normal infinite none running pos-absolute-2;
	animation-timing-function: linear;
}

@keyframes pos-absolute-2 {
	0% {
		transform: translate(150px, 100px);
	}

	25% {
		transform: translate(250px, 450px);
	}

	75% {
		transform: translate(350px, 550px);
	}

	100% {
		transform: translate(100px, 100px);
	}
}

.pos-absolute-3 {
	position: absolute;
	top: 0;
	right: 100px;
	object-fit: contain;
	width: 70px;
	height: 70px;
	z-index: 90;
}

.pos-absolute-3 {
	animation: 5s linear 5s normal none infinite running pos-absolute-3;
	-webkit-animation: 5s linear 5s normal infinite none running pos-absolute-3;
	animation-timing-function: linear;
}

@keyframes pos-absolute-3 {
	0% {
		top: 0;
	}

	25% {
		top: 500px;
	}

	75% {
		top: 300px;
	}

	100% {
		top: 0;
	}
}

.off-2 {
	opacity: 0;
	transition: all 0.5s linear;
}

.off-3 {
	opacity: 0;
	transition: all 0.5s linear;
}

.trail-1:hover,
.trail-2:hover,
.trail-3:hover,
.trail-4:hover,
.trail-5:hover,
.trail-6:hover,
.trail-7:hover,
.trail-8:hover {
	position: relative;
	box-shadow: 5px 5px 5px green, -5px -5px 5px green;
	border-radius: 20%;
	opacity: 1;
	pointer-events: auto;
}

.trail-1:hover+.trail-2,
.trail-2:hover+.trail-3,
.trail-3:hover+img+.trail-4,
.trail-4:hover+img+.trail-5,
.trail-5:hover+img+.trail-6,
.trail-6:hover+.trail-7,
.trail-7:hover+.trail-8 {
	position: relative;
	opacity: 1;
	pointer-events: auto;
	box-shadow: 5px 5px 5px green, -5px -5px 5px green;
	border-radius: 20%;
}

.trail {
	overflow: clip;
}

.trail-1 {
	/* max-width: 800px; */
	height: 20px;

	/*border: 2px solid green;*/
	img {
		width: 100%;
	}
}

.cheat .trail-1 {
	height: 50px;
}

.trail-2 {
	min-width: 15px;
	height: 100px;
	/*border: 2px solid green;*/
	margin-left: 96%;

	img {
		height: 100%;
	}
}

.cheat .trail-2 {
	min-width: 55px;
}

.trail-3 {
	/* max-width: 400px; */
	height: 30px;
	/*border: 2px solid green;*/
	margin-left: 50%;

	img {
		width: 100%;
	}
}

.cheat .trail-3 {
	height: 50px;
}

.trail-4 {
	/*border: 2px solid green;*/
	max-width: 30px;
	height: 220px;
	margin-left: 50%;

	img {
		height: 100%;
	}
}

.cheat .trail-4 {
	max-width: 50px;
}

.trail-5 {
	/* max-width: 425px; */
	height: 30px;
	/*border: 2px solid rgb(119, 128, 0);*/
	margin-right: 40%;

	img {
		width: 100%;
	}
}

.cheat .trail-5 {
	height: 50px;
}

.trail-6 {
	max-width: 30px;
	height: 100px;

	/*border: 2px solid green;*/
	img {
		height: 100%;
	}
}

.cheat .trail-6 {
	max-width: 50px;
}

.trail-7 {
	min-width: 260px;
	height: 30px;
	/*border: 2px solid rgb(128, 0, 122);*/
	margin-right: 67%;

	img {
		width: 100%;
	}
}

.cheat .trail-7 {
	height: 50px;
}

.trail-8 {
	max-width: 100px;
	height: 75px;
	box-shadow: none !important;
	/*border: 2px solid green;*/
	margin-left: 225px;
	transition: all 0.7s linear;
	overflow: visible;
	opacity: 0;

	img {
		width: 100%;
		height: 100%;
	}
}

.trail-8 .bg-off {
	opacity: 0;
}

/* .cheat .trail-8 {
	height: 20px;
} */


.trail-1:hover,
.trail-2:hover,
.trail-3:hover,
.trail-4:hover,
.trail-5:hover,
.trail-6:hover,
.trail-7:hover,
.trail-8:hover {
	box-shadow: 5px 5px 5px green, -5px -5px 5px green;
	border-radius: 20%;
	transition: all 0.3s linear;
}

.trail-1,
.trail-2,
.trail-3,
.trail-4,
.trail-5,
.trail-6,
.trail-7,
.trail-8 {
	transition: all 0.3s linear;
	margin-top: -18px;
}

/* .trail-8:hover {
	opacity: 0.8;
} */

.trail-8::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: -45px;
	left: -10px;
	width: 100%;
	height: 100px;
	transition: all 0.7s linear;
	pointer-events: 'none';
}

.mario {
	position: absolute;
	top: 0px;
	right: -35px;
	width: 70px !important;
	height: 70px !important;
	object-fit: contain;
	transform: scale(1.5) scaleX(-1);
	transition: all 0.7s linear;
	pointer-events: none;
}

.princess {
	position: absolute;
	top: 0px;
	left: 0;
	width: 70px !important;
	height: 70px !important;
	object-fit: contain;
	transform: scale(1.5) scaleX(-1);
	transition: all 0.7s linear;
	pointer-events: none;
}

.cheat .mario,
.cheat .princess {
	top: -90px;
}

.trail-8:hover::after {
	visibility: visible;
	opacity: 1;
	margin-top: -50px;
	transform: scaleX(-1);
	transition: all 0.7s linear;
}


@media (max-width: 991.98px) {
	#games {
		display: none;
	}
}